.Timer {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	width: fit-content;
}

.TimerValue {
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-size: 2rem;

	span {
		display: inline-block;
		background-color: rgba($color: white, $alpha: 0.2);
		padding: 0.5rem;
		border-radius: 10px;
		text-align: center;

		&:first-child {
			width: 1ch;
		}

		&:last-child {
			width: 2ch;
		}
	}
}

.ResetButton {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	border: none;
	background-color: #ec3f3f;
	text-align: center;
	padding: 0.5rem;
	border-radius: 5px;
	width: 200px;
	transition: background-color 250ms ease-in-out;

	&:hover {
		background-color: #b83636;
	}
}

